<header>
    <div class="container">
        <div class="header-inner">
            <a class="logo" href="#">
                <img src="assets/images/logo.svg" alt="" />
            </a>
            <ul class="header-links">
                <li>
                    <a class="" href="#">home</a>
                </li>
                <li>
                    <a href="#">missions</a>
                </li>
                <li>
                    <a href="#">vehicles</a>
                </li>
                <li>
                    <a href="#">about</a>
                </li>
            </ul>
        </div>
    </div>
</header>